
* {
  font-family: $font-family-base;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

#app {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  font-size: $font-body-normal;
}